[package]
name = "attractorr"
version = "0.4.1"
authors = ["Raphael Nestler <raphael.nestler@gmail.com>"]
edition = "2021"
rust-version = "1.60"
description = "A CLI tool to scrape the web for magnet links"
repository = "https://github.com/rnestler/attractorr/"
license = "MIT OR Apache-2.0"
keywords = ["cli", "torrent", "magnet"]
categories = ["command-line-utilities"]

[profile.release]
codegen-units = 1
lto = "fat"

[dependencies]
hyper = { version = "0.14.23", features = ["full"] }
hyper-tls = "0.5.0"
clap = { version = "4.0.18", features = ["help", "usage", "error-context", "std", "derive"], default_features = false }
termcolor = "1.1.3"
atty = "0.2.14"
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"
env_logger = "0.9.0"
log = "^0.4"
async-trait = "^0.1.57"
tokio = { version = "1.21.2", features = ["macros", "rt-multi-thread"] }
percent-encoding = "^2.1.0"
futures-util = "0.3.24"
torrent_search = "0.3"
yts-api = "0.1"
