[package]
name = "torrent-search"
version = "0.1.0"
authors = ["Raphael Nestler <raphael.nestler@gmail.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"
[dependencies]
select = "^0.5"
hyper = { version = "0.14.4", features = ["full"] }
hyper-tls = "0.5.0"
docopt = "^1.1"
ansi_term = "^0.12"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
env_logger = "0.8.3"
log = "^0.4"
async-trait = "^0.1.17"
tokio = { version = "1.3.0", features = ["macros", "rt-multi-thread"] }
percent-encoding = "^2.1.0"
futures-util-preview = "0.3.0-alpha.19"
bytes = "1.0.1"
