[package]
name = "attractor"
version = "0.2.0"
authors = ["Raphael Nestler <raphael.nestler@gmail.com>"]
edition = "2021"
rust-version = "1.56"
description = "A CLI tool to scrape the web for magnet links"
repository = "https://github.com/rnestler/rust-torrent-search/"
license = "MIT OR Apache-2.0"
keywords = ["cli", "torrent", "magnet"]
categories = ["command-line-utilities"]

[profile.release]
codegen-units = 1
lto = "fat"

[dependencies]
select = "^0.5"
hyper = { version = "0.14.4", features = ["full"] }
hyper-tls = "0.5.0"
structopt = "0.3.25"
ansi_term = "^0.12"
atty = "0.2.14"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
env_logger = "0.9.0"
log = "^0.4"
async-trait = "^0.1.57"
tokio = { version = "1.21.0", features = ["macros", "rt-multi-thread"] }
percent-encoding = "^2.1.0"
futures-util = "0.3.24"
bytes = "1.2.1"
torrent_search = "0.3"
yts-api = "0.1"
