[package]
name = "attractorr"
version = "0.5.1"
authors = ["Raphael Nestler <raphael.nestler@gmail.com>"]
edition = "2021"
rust-version = "1.64"
description = "A CLI tool to scrape the web for magnet links"
repository = "https://github.com/rnestler/attractorr/"
license = "MIT OR Apache-2.0"
keywords = ["cli", "torrent", "magnet"]
categories = ["command-line-utilities"]

[profile.release]
codegen-units = 1
lto = "fat"

[dependencies]
hyper = { version = "0.14.26", features = ["full"] }
hyper-tls = "0.5.0"
clap = { version = "4.2.5", features = ["help", "usage", "error-context", "std", "derive"], default_features = false }
termcolor = "1.2.0"
is-terminal = "0.4.7"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.96"
env_logger = "0.10.0"
log = "^0.4"
async-trait = "^0.1.60"
tokio = { version = "1.28.0", features = ["macros", "rt-multi-thread"] }
percent-encoding = "^2.1.0"
futures-util = "0.3.26"
torrent_search = "0.3"
yts-api = "0.3"
