name: CI
on:
  push:
    branches: [master]
  pull_request:

jobs:
  windows_build_and_test:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v5
      - run: cargo build
      - run: cargo test

  build_and_test:
    runs-on: ubuntu-22.04
    container: rust:1.85
    steps:
      - uses: actions/checkout@v5
      - run: cargo build
      - run: cargo test

  lint:
    runs-on: ubuntu-22.04
    container: rust:1.85
    steps:
      - uses: actions/checkout@v5
      - run: rustup component add clippy
      - run: cargo clippy --all-targets --all-features -- -D warnings

  fmt:
    runs-on: ubuntu-22.04
    container: rust:1.85
    steps:
      - uses: actions/checkout@v5
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check
